*.pyc
*.so
*.pkl
.DS_Store/
__pycache__/
*.pt
.idea/
.run/
.vscode/
build/
*.egg-info/
images/
*.blend1
.vscode/
.history/
tools/
fb_sweep/
fb_scripts/

configuration.txt
configuration_render.txt
fairnr.uml
examples/data/ilya/
util/remote_debugger/ssh_credentials.py
rd_mirror.lnk
nsvf_train.ahk.lnk
remdeb/
*visualize_cam_light.html